{% extends "base.html" %}
{% block content %}
{% if 'username' in session %}
<div class="row">
  <div class="col-md-12">
    <a href="{{url_for('new_movie')}}">Add a movie</a>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-md-4">
    <h3>Categories</h3>
    <ul>
      {% for c in categories %}
        <li><a href="{{url_for('render_category', category=c.name)}}">{{c.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-8">
    <h3>Movies</h3>
    <ul>
      {% for m in movies %}
        <li><a href="{{url_for('render_movie', category=m.category.name, movie_id=m.id)}}">{{m.name}}</a> (Category: {{m.category.name}})</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}