{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <form action="#" method="post">
      <input type="text" name="name" placeholder="New Movie"><br>
      <textarea name="description"></textarea><br>
      <select name="category">
        <option value="Bad Movie">Bad Movie</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Scifi">Scifi</option>
        <option value="Western">Western</option>
      </select><br>
      <button type="submit" name="submit" value="submit">Create</button>
      <button type="submit" name="submit" value="cancel">Cancel</button>
    </form>
  </div>
</div>
 <!--    <input type="text" name="name" placeholder="New Movie">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <textarea name="description"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <select name="category">
      <option value="Bad Movie">Bad Movie</option>
      <option value="Comedy">Comedy</option>
      <option value="Drama">Drama</option>
      <option value="Scifi">Scifi</option>
      <option value="Western">Western</option>
    </select>
    <button name="submit">Submit</button>
  </div>
</div> -->
{% endblock %}